* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  font-size: 16px;
}
input {
  outline: none;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
.part1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.part1 .swiper-container {
  width: 100%;
  height: 100%;
}
.main {
  position: relative;
  padding-top: 60px;
}
.main .menu {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #9D0102;
}
.main .menu .logo {
  float: left;
  margin-top: 10px;
  margin-left: 1.6rem;
}
@media screen and (min-width: 700px) {
  .main .menu .nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.6rem;
  }
  .main .menu .nav li {
    float: right;
    width: 2.5rem;
    text-align: center;
    height: 60px;
    line-height: 60px;
  }
  .main .menu .nav li a {
    color: #FFFDF3;
    cursor: pointer;
  }
}
.main .menu .zhedie {
  position: absolute;
  right: 5px;
  top: 0;
  height: 60px;
  line-height: 70px;
  display: none;
}
.main .menu .zhedie img {
  height: 30px;
  width: 30px;
}
@media screen and (min-width: 700px) {
  .parts {
    background-color: #FFFFFF;
    height: 100%;
    padding: 0 4rem;
    overflow: hidden;
  }
  .parts .boxs {
    min-width: 320px;
    margin-top: 90px;
    border-top: 1px solid #9D0102;
    text-align: center;
    color: #9D0102;
  }
  .parts .boxs .title1 {
    display: block;
    width: 4.53rem;
    min-width: 260px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    top: -15px;
    text-align: center;
    color: #9D0102;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .parts .boxs .detail {
    height: 100%;
    margin-top: 10px;
  }
}
.part1 .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
}
.part2 .video {
  position: relative;
  height: 800px !important;
}
.part2 .video iframe {
  width: 100%;
  height: 100%;
}
.part3 .case {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.part3 .case img {
  width: 2.1rem;
  height: 3.8rem;
  margin: 0.05rem;
  cursor: pointer;
}
.part3-1 .case70 {
  background-color: #9D0102;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.part3-1 .case70 img {
  width: 2.24rem;
  height: 3.61rem;
  margin: 0.05rem 0.02rem;
  cursor: pointer;
}
.part3-1 .case70 img:nth-child(1) {
  cursor: default;
}
.part4 .advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.part4 .advantage .imgs {
  width: 2.68rem;
  height: 360px;
  background-color: #9D0102;
  margin: 0.05rem 0.02rem;
  color: #FDF5F4;
}
.part4 .advantage .imgs img {
  width: 100%;
  height: 100%;
}
.part4 .advantage .imgs h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0.3rem;
}
.part4 .advantage .imgs p {
  font-size: 12px;
  padding: 0 0.2rem;
  text-align: left;
  margin-top: 0.5rem;
}
.part4 .advantage .imgs:nth-child(1) {
  width: 5.43rem;
  height: 360px;
  margin: 0.05rem 0.02rem;
}
.part4 .advantage .imgs:nth-child(1) img {
  width: 100%;
}
.part5 .document .imgs img {
  width: 100%;
}
.part6 .example .imgs img {
  width: 100%;
}
.part7 {
  background-color: #212121;
  color: #f2f2f2;
  padding: 10px 2rem;
}
.part7 .top {
  border-bottom: 1px solid rgba(253, 245, 244, 0.212);
  overflow: hidden;
}
.part7 .top .left {
  width: 80%;
  float: left;
  display: flex;
  justify-content: space-around;
}
.part7 .top .left ul li {
  line-height: 30px;
  font-size: 12px;
}
.part7 .top .left ul li:nth-child(1) {
  font-size: 14px;
  line-height: 40px;
}
.part7 .top .right {
  padding-top: 20px;
  float: right;
  line-height: 40px;
}
.part7 .bottom {
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  height: 120px;
}
.part7 .bottom a {
  color: #0EC1C4;
}
.allpacture img {
  width: 100%;
  display: block;
}
.swiper-container1 .swiper-slide:nth-child(1) {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.on {
  /* width: 354px; */
  background-color: rgba(72, 91, 133, 0.8);
}
@media (max-width: 700px) {
  @keyframes myfirst {
    from {
      width: 0;
    }
    to {
      width: 75px;
    }
  }
  .zhedie {
    display: block !important;
  }
  .nav {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .nav li {
    line-height: 30px;
    animation: myfirst 0.5s linear;
    background-color: #9D0102;
    text-align: center;
  }
  .nav li a {
    color: #FFF;
    font-size: 14px;
  }
  .parts {
    background-color: #FFFFFF;
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
  }
  .parts .boxs {
    min-width: 280px;
    margin-top: 90px;
    border-top: 1px solid #9D0102;
    text-align: center;
    color: #9D0102;
  }
  .parts .boxs .title1 {
    display: block;
    width: 4.53rem;
    min-width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    top: -15px;
    text-align: center;
    color: #9D0102;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .part3 .case {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .part3 .case img {
    width: 8rem;
    height: 13.55rem;
    margin: 0.05rem 0.02rem;
  }
  .part3-1 .case70 {
    background-color: #9D0102;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .part3-1 .case70 img {
    width: 8rem;
    height: 13rem;
    margin: 0.05rem 0.02rem;
  }
  .part4 .advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .part4 .advantage .imgs {
    width: 8rem !important;
    height: 300px !important;
    background-color: #9D0102;
    margin: 0.05rem 0.02rem !important;
    color: #fff;
  }
  .part4 .advantage .imgs img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .part4 .advantage .imgs:nth-child(1) {
    width: 16.8rem !important;
    height: 198px;
    margin: 0.05rem 0.02rem;
  }
  .part4 .advantage .imgs:nth-child(1) img {
    width: 100%;
  }
  .part7 {
    padding: 0 !important;
  }
  .part7 .left {
    width: 70% !important;
  }
}
.show {
  display: block;
}
.hidden {
  display: none;
}
